.App {
  text-align: center;
}link{
  text-decoration: none;
}

body{
  margin: 200px;
  margin-top: 0;
}

.logo{
  height: 170px;
  width: 350px;
  margin: 20px;
}.search-box{
  width: 250px;
}.logonav{
  height: 50px;
  width: 200px;
}.resultbox{
  background-color: rgb(252, 192, 234);
padding: 20px;
border-radius: 10px;
margin: 20px;
}